# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
venv/
.venv/
.coverage
htmlcov/

# Environment
.env

# IDE
.vscode/
.idea/
*.swp

# Data (ne pas commiter les données)
data/
*.csv
*.parquet
*.jsonl
!requirements.txt

# OS
.DS_Store
Thumbs.db

#Generated report
pipeline_report.json

#Cache
.pytest_cache/

#Test covaerage
coverage.xml